@import "../../utils/styles/globalStyle";
@import "../../utils/styles/buttonStyle";
@import "../../utils/styles/textStyle";
@import "../../utils/styles/scrollTo";

.aboutScreenMain {
  .mobile {
    background-color: $colorCream;
    padding-bottom: 3.2em;
    box-sizing: border-box;
    .divTitle {
      position: relative;
      overflow: hidden;
      .mobileTextBackground#aboutScreenMainMobileTextBackground {
        position: absolute;
        margin-left: -8%;
      }
      .textContent {
        left: 8%;
        position: absolute;
        top: 50%;
        transform: translateY(-16%);
      }
    }
    .body {
      margin: 1.32em 8% 0;
      line-height: 1.32em;
      color: rgba(0, 0, 0, .8);
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
    }
    .mobileOutlineButton {
      margin: 2em 8% 1.32em;
    }
  }
  .desktop {
    background-color: $colorCream;
    padding-bottom: 8em;
    box-sizing: border-box;
    .divTitle {
      position: relative;
      overflow: hidden;
      .desktopTextBackground#aboutScreenMainDesktopTextBackground {
        position: absolute;
        right: 0;
      }
      .textContent {
        left: 8%;
        position: absolute;
        top: 50%;
        transform: translateY(-16%);
      }
    }
    .desktopBody#aboutScreenMainDesktopBody {
      margin: 2em 8% 0;
    }
    .desktopOutlineButton#aboutScreenMainDesktopButtonReadMore {
      margin: 2em 8% 0;
    }
  }
}
