@import "../../utils/styles/globalStyle";

.menuMobileMain {
  height: 100vh;
  width: 100%;
  background-color: $colorCream;
  z-index: 2;
  position: fixed;
  .divMenuHeader {
    width: 100%;
    height: $mobileAppBarHeight;
    .iconClose {
      margin-right: 8%;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      float: right;
    }
  }
  .divMenuContent {
    .menuItem {
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
      color: rgba(0, 0, 0, .8);
      padding: 1em 0;
      text-align: center;
    }
  }
}
